/* global changes ----------------------------------------------------------------- */
a:link{
    color: rgb(255, 220, 94);
}

a:visited{
    color: rgb(255, 220, 94);
}
/* -------------------------------------------------------------------------- */


/* gallery ---------------------------------------------------------------- */
#galleryContact{
    position: relative;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    box-sizing: border-box;
    background-color: rgb(73, 48, 114);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-wrap: wrap;

}
/* ------------------------------------------------------------------------------- */

#firsthalf{
    position: relative;
    height: 90%;
    width: 500px;
    float: left;
    flex: 30%;
    padding-top: 5%;
    padding-left: 7%;
    box-sizing: border-box;
}

/* contact --------------------------------------------------------------------------- */
#contactCon{
    position: relative;
    width: 350px;
    height: auto;
    float: left;
    margin-bottom: 12%;
}

#contactTitle{
    position: relative;
    font-size: 40px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#contactName{
    position: relative;
    font-size: 20px;
    width: 100%;
    float: left;
    margin-bottom: -3px;
}

.contactText{
    position: relative;
    font-size: 20px;
    width: 100%;
    float: left;
}

.contactNews{
    position: relative;
    font-size: 20px;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.subscribeBt{
    position: relative;
    float: left;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: rgb(255, 220, 94) 1px solid;
    background-color: rgb(46, 47, 97);
    color:rgb(255, 220, 94) ;
    height: 30px;
    cursor: pointer;
}


.imageLinks{
    position: relative;
    float: left;
}

.logos{
    position: relative;
    height: 50px;
    width: 50px;
    float: left;
}

#instaLogo{
    margin-left: 20px;
    cursor: pointer;
}

#whatsappLink{
    cursor: pointer;
}
/* ------------------------------------------------------------------------------- */

/* mail form --------------------------------------------------------------------------------- */
#mailCon{
    position: relative;
    width: 400px;
    height: 500px;
    float: left;
}

#mailName{
    position: relative;
    float: left;
    height: 75px;
    width: 100%;
}

#mailPhone{
    position: relative;
    float: left;
    height: 75px;
    width: 100%;

}

#mailEmail{
    position: relative;
    float: left;
    height: 75px;
    width: 100%;

}

#mailSubject{
    position: relative;
    float: left;
    height: 75px;
    width: 100%;
}


#mailMessage{
    position: relative;
    float: left;
    height: 75px;
    width: 100%;

}

#mailSubmit{
    position: relative;
    float: left;
    height: 100px;
    width: 100%;

}

input[type=text] {
    background-color: rgb(46, 47, 97);
    color: white;
    border-radius: 5px;
    width: 100%;
    border: rgb(255, 220, 94) 1px solid;
    margin-top: 5px;
    height: 30px;
}

input[type=email] {
    background-color: rgb(46, 47, 97);
    color: white;
    border-radius: 5px;
    width: 100%;
    border: rgb(255, 220, 94) 1px solid;
    margin-top: 5px;
    height: 30px;
}

textarea{
    background-color: rgb(46, 47, 97);
    color: white; 
    border-radius: 5px;
    width: 100%;
    height: 100px;
    resize: none !important;
    border: rgb(255, 220, 94) 1px solid;
    margin-top: 5px;
}

input[type=submit]{
    margin-top: 70px;
    border-radius: 5px;
    border: rgb(255, 220, 94) 1px solid;
    background-color: rgb(46, 47, 97);
    color:rgb(255, 220, 94) ;
    height: 30px;
    font-size: 17px;


}
label{
    font-size: 20px;
}
/* ---------------------------------------------------------------------- */

#secondHalf{
    position: relative;
    height: 90%;
    width: 500px;
    float: left;
    flex: 25%;
    padding-top: 5%;
    padding-right: 10%;
    box-sizing: border-box;
}

/* stage --------------------------------------------------------------------- */
#stageLopen{
    position: relative;
    float: right;
    width: 330px;
    height: auto;
    margin-bottom: 15%;
}

#stageTitle{
    position: relative;
    font-size: 40px;
    float: left;
    margin-bottom: 10px;

}

.stageTexts{
    position: relative;
    float: left;
    font-size: 20px;

}

/* ----------------------------------------------------------------------------- */

/* klanten login ------------------------------------------------------------------ */
#klanten{
    position: relative;
    float: right;
    width: 330px;
    height: auto;
    margin-bottom: 15%;

}

#klantenTitle{
    position: relative;
    font-size: 40px;
    float: left;
    margin-bottom: 10px;

}

.klantenTexts{
    position: relative;
    float: left;
    font-size: 20px;

}
/* --------------------------------------------------------------------------------- */

/* factures --------------------------------------------------------------------------------- */

.vacatures{
    position: relative;
    float: right;
    width: 330px;
    height: auto;
    margin-bottom: 15%;
}

.vacaturesTitle{
    position: relative;
    font-size: 40px;
    float: left;
    margin-bottom: 10px;
}

.vacaturesText{
    position: relative;
    float: left;
    font-size: 20px;
}

.vacaturesBt{
    position: relative;
    float: left;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: rgb(255, 220, 94) 1px solid;
    background-color: rgb(46, 47, 97);
    color:rgb(255, 220, 94) ;
    height: 30px;
    cursor: pointer;
}







/* --------------------------------------------------------------------------------------------- */



/* calculator ----------------------------------------------------------------------- */
#calculatorCon{
    position: relative;
    float: right;
    width: 330px;
    height: 500px;
}

#CalTitle{
    position: relative;
    font-size: 40px;
    float: left;
    margin-bottom: 10px;

}

#calTexts{
    position: relative;
    float: left;
    margin-bottom: 5%;
    font-size: 20px;

}

#calculator{
    position: relative;
    float: left;
    width: 300px;
    height: 79%;
}

/* -------------------------------------------------------------------------------------- */

#bottom{
    position: relative;
    height: 220px;
    width: 100%;
}


/* ----------------------------------------------------------------------------------------- */


/* slider -------------------------------------------------------------------------- */
#partners{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50;
    margin-bottom: 3%;
}

#slider{
    position: relative;
    height: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.slideImg{
    height: 100px;
    width: 100px;
}

img{
    width: 100%;
    object-fit: cover;
}
/* slider -------------------------------------------------------------------------- */



/* nieuwsbrief --------------------------------------- */

#nieuwsbrief{
    display: none !important;
    position: absolute;
    height: 200px;
    width: 500px;
    background: linear-gradient(90deg, #4158d0 0%, #6356cc 25%, #8154c8 50%, #a252c4 75%, #c850c0 100%);
    z-index: 10;
    top: 350px;
    left: 37%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}
.hidden{
    display: block !important;
}

.submit{
    position: relative;
    left: 200px;
}

.text{
    position: relative;
    top: 50px;
    text-align: center;
}

.closeSubscribe{
    position: relative;
    width: 50px;
    height: 20px;
    box-sizing: border-box;
    border: rgb(255, 220, 94) 1px solid;
    border-radius: 5px;
    background-color: rgb(46, 47, 97);
    color:rgb(255, 220, 94) ;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    left: 220px;
    top: 5px;
    cursor: pointer;
}