
#gallery{
    height: auto;
    margin-top: 3%;
    background-color: rgb(73, 48, 114);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 30px;
}

#center{
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    z-index: 4;
}

#popup{
    position: relative;
    width: 300px;
    height: 500px;
    top: 100px;
    margin: auto;
    background: linear-gradient(90deg, #4158d0 0%, #6356cc 25%, #8154c8 50%, #a252c4 75%, #c850c0 100%);;
    border-radius: 15px;
    z-index: 5;
}

#popupImg{
    position: relative;
    width: 100%;
    top: 80px;
    height: 300px;
    background-image: url(../../media/fotos/gallery/flipPhone.png);
    background-size: cover;

}

.popupBt{
    position: relative;
    top: 15%;
    left: 40%;
    width: 70px;
    border-radius: 15px;
    background: none;
}

div#center { display: none; }

/* use a media query to filter small devices */
@media only screen and (max-device-width:480px) {
    /* show the popup */
    div#center { display: block; }
}


.my-col{
    padding-right: 2%;
    transition: padding 0.2s;
}

.my-col:hover{
    cursor: pointer;
    padding-right: 3%;
}

#galleryTitle{
    position: relative;
    margin-bottom: -12%;
} 

#galleryTopHalf{
    margin-top: 1%;
}

/* #galleryBottom Half{
    position: relative;
    height: 150px;
    width: 1200px;
    overflow: hidden;
} */


#w0{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Beeldkunst.png);
    background-size: cover;

}

#w1{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Science.png);
    background-size: cover;

}

#w2{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Dans.png);
    background-size: cover;

}

#w3{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Muziek.png);
    background-size: cover;

}

#w4{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Health.png);
    background-size: cover;

}

#w5{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Taal.png);
    background-size: cover;

}

#w6{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Teamwork.png);
    background-size: cover;

}


#w7{
    height: 150px;
    background-image: url(../../media/fotos/gallery/Theater.png);
    background-size: cover;

}

#w8{
    height: 150px;
    background-image: url(../../media/fotos/gallery/DIY.png);
    background-size: cover;

}

#w9{
    height: 150px;
    background-image: url(../../media/fotos/gallery/reeks.png);
    background-size: cover;

}



.galleryFoto:hover{
    cursor: pointer;
}


#galleryBottomText{
    position: relative;
    margin-top: 30px;
    font-family: 'Source Sans Pro', sans-serif !important;
}

#corona{
    position: relative;
    width: 65px;
    height: 65px;
    left: 77%;
    top: 60px;
}

#cjpGif{
    position: relative;
    width: 100px;
    height: 65px;
    left: 86%;
    top: 10px;
}

img{
    width: 100%;
    object-fit: cover;
}